.main-apartment {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.apartment-heading {
    font-size: 32px;
    font-weight: bold;
    color: #212f3d;
    margin-bottom: 30px;
}

.apartments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apartment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.apartment-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 40px auto;
}

.viewButton .apartment-btn,
.home-button .apartment-btn {
    padding: 12px 20px;
    background-color: #212f3d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.viewButton .apartment-btn:hover,
.home-button .apartment-btn:hover {
    background-color: #1c2631;
}

.home-button {
    display: flex;
    justify-content: center;
}

.home-button .apartment-btn {
    margin-left: 20px; /* Space between the two buttons */
}

.home-button .apartment-btn {
    background-color: #333;
}

.home-button .apartment-btn:hover {
    background-color: #444;
}
